<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Charlie Profile</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="../css/styles.css"/>
        
        <script src="app.js"></script>
    </head>

    <body class="profileBody">

        <div class="profile-content">
            <br>
            <header style="text-align:center; font-size: 50px;">
                <button class="backToHomePage"><a href="../index.html" style="color: white;"> < </a>  </button>
                Charlie
                <hr>
            </header>

            <div class="profile-body">
                <div class="row" style="column-count: 2;">
                   
                        <img src="../images/charliebild.jpg" alt="Charlie" class="profileImg">
                
                        <div style="height:40px"></div>
                        <p style="margin-right:80px;">
                            <span style="font-size:25px;">< Om mig /></span><br><br>
                            <!--Skriv text här--> Hej, jag heter Charlie och är en elev på Te4.
                            Jag tycker om att vara fysikt aktiv och idag går jag på Te4. Jag gillar att arbeta med backend medans jag är nyfiken på olika soters design, allt från spel design till webb design. Under min fritid gillar jag att göra minna egna spel projekt medans jag letar jobb på sidan.
                           </p>   
                </div>
                <hr>
                <span style="font-size:25px;">< Mina bidrag till projekten /></span><br><br>
                <div class="row" style="column-count: 2">
                
                    <p>
                        <span style="font-size:20px;">Pizzeria Venezia:</span><br>
                            - Backend<br>
                            - Design<br>
                            <br><br><br>
                    </p>

                    <p>
                        <span style="font-size:20px;"> Schizomania:</span><br>
                            - Planering och Strukturering<br>
                            - interaktivt objekts<br>
                            <br>
                            <br>
                            <br><br><br><br>
                    </p>

                    <p>
                        <span style="font-size:20px;">Väder appen:</span><br>
                             
                            - Gps location (hitta användares position)<br>
                            - Design<br>
                            <br><br><br>
                    </p>



                    <p>
                        <span style="font-size:20px;">Basecamp:</span><br>
                            - Frontend<br>
                            - Emil funktionen<br>
                            - Hjälpte till en del med databasen<br>
                            - Log in funktionen<br>
                            <br>
                    </p>

                   

                </div>
<hr>
                <div class="row" style="column-count: 2">
                   
                    <p>
                        <span style="font-size:20px;">Individuella:</span><br>
                            <!--skriv text här--> Under det individuella arbetet, arbetade jag med att skapa ett Dungeon/Maze spel, som genererar dubbla rum efter varje level man klarar. Under min arbetets tid med detta så lärede jag mig mer om det matematiska programmering sättet medans jag läre mig mer om random generaded maps.
                    </p>

                    <p>
                        
                        <span style="font-size:20px;">Examensarbete:</span><br>
                            <!--Skriv text här--> Under examensarbetet gjorde jag en undersökning på hur olika spel kan påverka människors känslor medans jag fukoserade på ilska och iritation genom ett test spel. Min undersökning vissade hur det spelet jag hade valt kunde dra fram ilska och iritation med minimal ansträngning, genom att bara sätta upp tre-fyra hinder som man inte kunde see.
                    </p>
                </div>
            </div>
            <hr>
            <div class="profile-footer">
                <p>Kontakta mig gärna på linkedin eller kika på några av mina projekt på github!</p>
                <br><br>
                <div class="row" style="column-count:2">
                <a href="https://www.linkedin.com/in/charlie-h%C3%A5kansson-gullberg-0402aa21b/" style="padding-right:20px;"><img src="../images/linkedin.svg"/></a>
                <a href="#"><img src="../images/github.svg"/> </a>
            </div>
            </div>
        </div>
        
    </body>
</html>