<section class="crew-grid">
    <div class="crew-grid-students">
        <div class="polaroid">
            <a href="#" title="Ahmed">
                <img height="250" src="/images/Ahmed.png" alt="Santorini" title="Santorini" />
            </a>
        </div>

        <div class="polaroid">
            <a href="#" title="Linda">
                <img height="250" src="/images/Linda.png" alt="Santorini" title="Santorini" />
            </a>
        </div>

        <div class="polaroid">
            <a href="#" title="Josef">
                <img height="250" src="/images/Josef.png" alt="Santorini" title="Santorini" />
            </a>
        </div>
    </div>
</section>