<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Liam Profile</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="../css/styles.css"/>
        
        <script src="app.js"></script>
    </head>

    <body class="profileBody">

        <div class="profile-content">
            <br>
            <header style="text-align:center; font-size: 50px;">
                Liam
                <hr>
            </header>

            <div class="profile-body">
                <div class="row" style="column-count: 2;">
                   
                        <img src="../images/LinneaProfile.jpg" alt="Oliver" class="profileImg">
                
                        <div style="height:40px"></div>
                        <p style="margin-right:80px;">
                            <span style="font-size:25px;">< Om mig /></span><br><br>
                            <!--Skriv text här-->
                           </p>   
                </div>
                <hr>
                <span style="font-size:25px;">< Mina bidrag till projekten /></span><br><br>
                <div class="row" style="column-count: 2">
                
                    <p>
                        <span style="font-size:20px;">Pizzeria Venezia:</span><br>
                            - Frontend<br>
                            - Design<br>
                            - Planering & Strukturering<br><br><br>
                    </p>

                    <p>
                        <span style="font-size:20px;"> Schizomania:</span><br>
                            - Planering och Strukturering<br>
                            - Grafisk design<br>
                            - Elektronikskåpet (minigame i spelet)<br>
                            - Få playern att kunna gå till olika rum och spela minigames<br>
                            - Funktionalitet<br><br><br><br>
                    </p>

                    <p>
                        <span style="font-size:20px;">Polis appen:</span><br>
                            - Projektledare<br>
                            - Gps location (hitta användares position)<br>
                            - Funktionaliteten<br>
                            - Planering & Strukturering<br><br>
                    </p>



                    <p>
                        <span style="font-size:20px;">Basecamp:</span><br>
                            - Frontend<br>
                            - Gjorde designen till de flesta sidor<br>
                            - Hjälpte till en del med databasen<br>
                            - Planering & Strukturering<br>
                            - Dokumentera stora delar av projektet för nästa år att läsa och fortsätta på<br>
                    </p>

                   

                </div>
<hr>
                <div class="row" style="column-count: 2">
                   
                    <p>
                        <span style="font-size:20px;">Individuella:</span><br>
                            <!--skriv text här-->
                    </p>

                    <p>
                        
                        <span style="font-size:20px;">Examensarbete:</span><br>
                            <!--Skriv text här-->>
                    </p>
                </div>
            </div>
            <hr>
            <div class="profile-footer">
                <p>Kontakta mig gärna på linkedin eller kika på några av mina projekt på github!</p>
                <br><br>
                <div class="row" style="column-count:2">
                <a href="#" style="padding-right:20px;"><img src="../images/linkedin.svg"/></a>
                <a href="#"><img src="../images/github.svg"/> </a>
            </div>
            </div>
        </div>
        
    </body>
</html>