<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Linnea Profile</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="../css/styles.css"/>
        
        <script src="app.js"></script>
    </head>

    <body class="profileBody">

        <div class="profile-content">
            <br>
            <header style="text-align:center; font-size: 50px;">
                Linnea Olsson
                <hr>
            </header>

            <div class="profile-body">
                <div class="row" style="column-count: 2;">
                   
                        <img src="../images/LinneaProfile.jpg" alt="Linnea" class="profileImg">
                
                        <div style="height:40px"></div>
                        <p style="margin-right:80px;">
                            <span style="font-size:25px;">< Om mig /></span><br><br>
                            Hej, jag heter Linnea och är en av eleverna på Te4. <br>
                            Jag tycker om att göra många saker samtidigt och idag har jag ett jobb, går i skolan, är ledare och styrelseledarmot inom scouting samt jag är med och driver en startup på Hetch AB.
                            Mina främsta styrkor är frontend och design men jag är väldgt nyfiken på backend och utökar gärna mina kompetenser där med.
                            Efter mina studier här på Te4 hoppas jag på att få ett fast jobb som frontendutvecklare då det är min dröm.
                           </p>   
                </div>
                <hr>
                <span style="font-size:25px;">< Mina bidrag till projekten /></span><br><br>
                <div class="row" style="column-count: 2">
                
                    <p>
                        <span style="font-size:20px;">Pizzeria Venezia:</span><br>
                            - Frontend<br>
                            - Design<br>
                            - Planering & Strukturering<br><br><br>
                    </p>

                    <p>
                        <span style="font-size:20px;"> Schizomania:</span><br>
                            - Planering och Strukturering<br>
                            - Grafisk design<br>
                            - Elektronikskåpet (minigame i spelet)<br>
                            - Få playern att kunna gå till olika rum och spela minigames<br>
                            - Funktionalitet<br><br><br><br>
                    </p>

                    <p>
                        <span style="font-size:20px;">Polis appen:</span><br>
                            - Projektledare<br>
                            - Gps location (hitta användares position)<br>
                            - Funktionaliteten<br>
                            - Planering & Strukturering<br><br>
                    </p>



                    <p>
                        <span style="font-size:20px;">Basecamp:</span><br>
                            - Frontend<br>
                            - Gjorde designen till de flesta sidor<br>
                            - Hjälpte till en del med databasen<br>
                            - Planering & Strukturering<br>
                            - Dokumentera stora delar av projektet för nästa år att läsa och fortsätta på<br>
                    </p>

                   

                </div>
<hr>
                <div class="row" style="column-count: 2">
                   
                    <p>
                        <span style="font-size:20px;">Individuella:</span><br>
                            Jag gjorde en app där man via två knapp kunde byta både bakgrundsbild och bakgrundsfärg i appen.<br>
                            Jag lärde mig att react native och react js är väldigt lika.
                             Native är för utveckling av appar och js är för utveckling av hemsidor. 
                             De har lite olika stuktur och lite olika syntax men man kommer in i det rätt fort om man testat det ena tidigare.
                              Jag ville fördjupa mig inom javascript och lära mig om grunderna i react native, vilket jag lyckades rätt bra med i mitt egna tycke.<br><br><br>
                    </p>

                    <p>
                        
                        <span style="font-size:20px;">Examensarbete:</span><br>
                            Som examensarbete gjorde jag en undesökning om personer uppfattas olika beroende på vilken färg och form de framhävs i.
                            Det finns en väldigt intressant teori som jag grundade mitt arbete på, nämligen DISC teorin.
                            Teorin går sammanfattningsvis ut på att personer kan delas in i 4 olika färger, blå, röd, gul och grön, beroende på personlighet.
                            Röd är dominant, grön är snälla och lojala, blå är strukturerade och gula är pratglada och utåtgående.
                            Så jag ville testa om detta stämde. 
                            Jag skapade ett CV för en person och gjorde det i 6 olika färgteman och med två olika formteman för att se om personen uppfatades annorlunda i de olika färgerna.
                            Mitt resultat var att personen uppfattades olika men inte så som DISC teorin säger utan mer att personen verka bla. barnslig, oseriös och glad
                    </p>
                </div>
            </div>
        </div>
        
    </body>
</html>