<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oliver Profile</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="../css/styles.css"/>
        
        <script src="app.js"></script>
    </head>

    <body class="profileBody">

        <div class="profile-content">
            <br>
            <header style="text-align:center; font-size: 50px;">
                <button class="backToHomePage"><a href="../index.html" style="color: white;"> < </a>  </button>
               Oliver Jönsson
                <hr>
            </header>

            <div class="profile-body">
                <div class="row" style="column-count: 2;">
                   
                        <img src="../images/Hej2.jpg" alt="Oliver" style="height: 250px; width: 200px; border-radius: 50%;">
                
                        <div style="height:40px"></div>
                        <p style="margin-right:80px;">
                            <span style="font-size:25px;">< Om mig /></span><br><br>
                            Hej jag heter Oliver Jönsson. Jag är född år 2001 och gick ut gymnasiet för två år sedan.
                            Jag valde att läsa gymnasieingenjör eftersom jag tyckte att det verkar väldigt spännanden.
                            Under detta året anser jag att jag förändrats mycket som person. Jag har lärt mig otroligt mycket 
                            på det sättet vi har arbetat på eftersom vi oftast har arbetat i projekt.
                            Det jag tar med mig från detta året är att våga utmana dig själv och ge inte upp.
                    
                           </p>   
                </div>
                <hr>
                <span style="font-size:25px;">< Mina bidrag till projekten /></span><br><br>
                <div class="row" style="column-count: 2">

                    <p>
                        <span style="font-size:20px;"> Schizomania:</span><br>
                            - Planering<br>
                            - Grafisk design<br>
                            - Maze spelet (sista spelet)<br>
                
                          - Funktionalitet<br><br><br><br>
                    </p>

                    <p>
                        <span style="font-size:20px;">Väderkollen:</span><br>
                            - Projektledare<br>
                            - Grafisk design<br>
                            - Funktionaliteten<br>
                            - Planering & Strukturering<br><br>
                    </p>



                    <p>
                        <span style="font-size:20px;">Basecamp:</span><br>
                            - Frontend<br>
                            - Grafisk design<br>
                            - Hjälpte till en del med databasen<br>
                            - Planering & Strukturering<br>
                            <br>
                    </p>

                   

                </div>
<hr>
                <div class="row" style="column-count: 2">
                   
                    <p>
                        <span style="font-size:20px;">Individuella:</span><br>
                        I mitt individuella projekt valde jag göra ett projekt som gjorde att man hade möjligheten
                        att sätta ut punkter på en innebandyplan. Dessa punkter visade vart man hade tagit avslut ifrån
                        och därefter ser man hur många avslut man tog från period till period eller under hela matchen.
                    
                
    
                    </p>

                    <p>
                        
                        <span style="font-size:20px;">Examensarbete:</span><br>
                           Mitt Examensarbete gick ut på hur ljud och färger påverkar dig i ett spel.
                         För att se skillanderna på hur de olika spelen påverkar dig valde jag två olika spel.
                         Ett spel som är sällskapligt och ett spel som har stessande musik och färger.
                    </p>
                </div>
            </div>
            <hr>
            <div class="profile-footer">
                <p>Kontakta mig gärna på linkedin</p>
                <br><br>
                <div class="row" style="column-count:2">
                <a href="https://www.linkedin.com/in/oliver-j%C3%B6nsson-86568b214/" style="padding-right:20px;"><img src="../images/linkedin.svg"/></a>
                
            </div>
            </div>
        </div>
        
    </body>
</html>